<!DOCTYPE html>
<html>

<head>
    <title>Cadastro de Marcas</title>
    <link rel="icon" href="/images/fav.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Sistema =D</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample06">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Principal
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastro</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown06">
                        <a class="dropdown-item" href="#">Combustivel</a>
                        <a class="dropdown-item" href="#">Função</a>
                        <a class="dropdown-item" href="#">Marca</a>
                        <a class="dropdown-item" href="#">Motorista</a>
                        <a class="dropdown-item" href="#">Posto</a>
                        <a class="dropdown-item" href="#">Veículo</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Movimentação</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown06">
                        <a class="dropdown-item" href="#">Lançar Abastecimento</a>
                        <a class="dropdown-item" href="#">Gerar nota fiscal</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="row">
        <div class="col-md-4 order-md-1"></div>
        <div class="col-md-4 order-md-2">
            <h3 class="mb-3 text-center">Cadastro de marcas</h3>
            <hr class="mb-3">
            <form class="needs-validation" novalidate="">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label>Nome da marca</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                        <!--<div class="invalid-feedback">
                            Valid first name is required.
                        </div>-->
                    </div>
                    <div class="col-md-2 mb-3"></div>
                    <div class="col-md-8 mb-3">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar Marca</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <h3 class="text-center">Marcas Cadastradas</h3>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 mb-3">

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>
                            <a href="#">Editar</a>
                        </td>
                        <td>
                            <a href="#">Apagar</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>
                            <a href="#">Editar</a>
                        </td>
                        <td>
                            <a href="#">Apagar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src='/js/jquery-3.3.1.min.js'></script>
    <script src='/js/bootstrap.min.js'></script>
    <script>
        $(function () {
            $('.dropdown-toggle').dropdown();
        }); 
    </script>
</body>

</html>